-
    const data = [
            //-search categories
            {
                name: "searchCategories",
                array: [
                "All Departments",
                "Arts & Crafts",
                "Automotive",
                "Baby",
                "Beauty & Personal Care",
                "Books",
                "Computers",
                "Digital Music",
                "Electronics",
                "Kindle Store",
                "Prime Video",
                "Men's Fashion",
                "Women's Fashion",
                "Girls' Fashion",
                "Boys' Fashion",
                "Deals",
                "Health & Household",
                "Home & Kitchen",
                "Industrial & Scientific"
                ]
            },
            //- languages
            {
                name: "languages",
                array: [
                "English - En",
                "Español - ES",
                "简体中文 - ZH",
                "Deutsch - DE",
                "Português - PT",
                "繁體中文 - ZH",
                "한국어 - KO",
                "العربية"
                ]
            },
            //- account list items
            {
                name: 'accountListItems',
                array: [
                    'account',
                    'orders',
                    'recommendations',
                    'browsing history',
                    'watchlist',
                    'video purchases &amp; rentals',
                    'kindle unlimited',
                    'content &amp; devices',
                    'subscribe &amp; save items',
                    'memberships &amp; subscribtions',
                    'music library'
                ]
            },
            //- secondary navy links
            {
                name: 'secondaryNavLinks',
                array:[
                    "today's deals",
                    "customer service",
                    "registry",
                    "gift cards",
                    "sell"
                ]
            },
            //- aside lists
            {
                name: 'asideLists',
                array: [
                    {
                        heading: 'digital content & devices',
                        links: [
                            {
                                name: 'amazon music',
                                openInSamePage: true,
                                subMenus: [
                                        {
                                            heading: 'stream music',
                                            links: [
                                                'amazon music unlimited',
                                                'free streaming music',
                                                'podcasts', 'open web player',
                                                'download the app'
                                            ],
                                        }
                                    ]

                            },
                            {
                                name: 'kindle e-readers & books',
                                openInSamePage: true,
                                subMenus:  [
                                        {
                                            heading: 'kindle e-readers',
                                            links: [
                                                'kindle kids',
                                                'kindle',
                                                'kindle paper white',
                                                'kindle oasis',
                                                'introducing kindle scribe',
                                                'accessories',
                                                'see all kindle e-readers'
                                            ]
                                        },
                                        {
                                            heading: 'kindle store',
                                            links: [
                                                'kindle books',
                                                'kindle unlimited',
                                                'prime reading',
                                                'kindle vella'
                                            ]
                                        },
                                        {
                                            heading: 'apps & resources',
                                            links: [
                                                'free kindle reading apps',
                                                'kindle for web',
                                                'manage your content and devices'
                                            ]
                                        }
                                    ]
                            },
                            {
                                name: 'amazon appstore',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'amazon appstore',
                                        links: [
                                            'all apps and games',
                                            'games',
                                            'amazon coins',
                                            'download amazon appstore',
                                            'amazon apps',
                                            'your apps and subscriptions',
                                        ]
                                    }
                                ]
                            }
                        ],
                        seeAll: false
                    },
                    {
                        heading: 'shop by department',
                        links: [
                            {
                                name: 'elctronics',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'electronics',
                                        links: [
                                            'accessories & supplies',
                                            'camera & photo',
                                            'car & vehicle elctronics',
                                            'cell phones & accessories',
                                            'computers & accessories',
                                            'GPS & navigation',
                                            'headphones',
                                            'home audio',
                                            'office elctronics',
                                            'portable audio & video',
                                            'security & surveillance',
                                            'service plans',
                                            'televesion & video',
                                            'video games consoles & accessories',
                                            'video projectors',
                                            'wearable technology',
                                            'eBook readers & accessories'
                                        ]
                                    }
                                ]
                            },
                            {
                                name: 'computers',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'computers',
                                        links: [
                                            'computer accessories & peripherals',
                                            'computer components',
                                            'computers & tablets',
                                            'data storage',
                                            'external components',
                                            'laptop accessories',
                                            'monitors',
                                            'networking products',
                                            'power Strips & Surge protectors',
                                            'printers',
                                            'scanners',
                                            'servers',
                                            'tablet accessories'
                                        ]
                                    }
                                ]
                            },
                            {
                                name: 'smart home',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'smart home',
                                        links: [
                                            'amazon smart home',
                                            'smart home lighting',
                                            'smart locks and entry',
                                            'security cameras and systems',
                                            'plugs and outlets',
                                            'new smart devices',
                                            'heating and cooling',
                                            'detectors and sensors',
                                            'home entertainment',
                                            'pet',
                                            'voice assistants and hubs',
                                            'kitchen',
                                            'vacuums and mops',
                                        ]
                                    }
                                ]
                            },
                            {
                                name: 'arts & crafts',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'arts & crafts',
                                        links: [
                                            'painting, drawing & art supplies',
                                            'beading & jewelry making',
                                            'crafting',
                                            'fabric',
                                            'fabric decorating',
                                            'knitting & crochet',
                                            'needlework',
                                            'organization, storage & transport',
                                            'printmaking',
                                            'scrapbooking & stamping',
                                            'sewing',
                                            'party decorations & supplies',
                                            'gift wrapping supplies',
                                        ]
                                    }
                                ]
                            }
                        ],
                        seeAll: true
                    },
                    {
                        heading: 'programs & features',
                        links: [
                            {
                                name: 'gift cards',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'give a gift card',
                                        links: [
                                            'all gift cards',
                                            'eGift cards',
                                            'gift cards by mail',
                                            'specialty gift cards',
                                            'amazon cash',
                                            'for businesses',
                                        ]
                                    },
                                    {
                                        heading: 'manage your gift card',
                                        links: [
                                            'redeem a gift card',
                                            'view your balance',
                                            'reload Your balance'
                                        ]
                                    }
                                ]

                            },
                            {
                                name: 'shop by interest',
                                openInSamePage: false
                            },
                            {
                                name: 'amazon live',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'amazon live',
                                        links: [
                                            'live',
                                            'recently live'
                                        ]
                                    }
                                ]
                            },
                            {
                                name: 'international shopping',
                                openInSamePage: true,
                                subMenus: [
                                    {
                                        heading: 'international shopping',
                                        links: [
                                            'where we ship',
                                            'visit amazon global'
                                        ]
                                    }
                                ]
                            }
                        ],
                        seeAll: true
                    },
                    {
                        heading: 'help & settings',
                        links: [
                            {
                                name: 'your account',
                                openInSamePage: false
                            },
                            {
                                icon: 'icon-globe',
                                name: 'english',
                                openInSamePage: false
                            },
                            {
                                icon: '',
                                name: 'united states',
                                openInSamePage: false
                            },
                            {
                                name: 'customer service',
                                openInSamePage: false
                            },
                            {
                                name: 'sign in',
                                openInSamePage: false
                            }
                        ],
                        seeAll: false
                    }
                ]
            },
            //- hero links & images
            {
                name: 'hero',
                links: [
                    {
                        href: 'shipping',
                        bgImgPath: './public/images/hero-computers.webp'
                    },
                    {
                        href: 'Beauty-and-Personal-Care',
                        bgImgPath: './public/images/hero-computers.webp'
                    },
                    {
                        href: 'Computers',
                        bgImgPath: './public/images/hero-computers.webp'
                    },
                    {
                        href: 'Computers',
                        bgImgPath: './public/images/hero-computers.webp'
                    }
                ]
            },
            //- home page cards
           {
                name:'home page cards',
                cards: [
                    {
                        type: 'multi',
                        name: 'shop by category',
                        subCards: [
                            {
                                srchQuery: "computers",
                                imgSrc:
                                    "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/computer120x._SY85_CB468850970_.jpg",
                                name: "computers & accessories"
                            },
                            {
                                srchQuery: "video-games",
                                imgSrc:
                                    "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/August/DashboardCard/PS4_120X._SY85_CB438749318_.jpg",
                                name: "video games"
                            },
                            {
                                srchQuery: "baby",
                                imgSrc:
                                    "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/Baby120X._SY85_CB468850882_.jpg",
                                name: "baby"
                            },
                            {
                                srchQuery: "toys",
                                imgSrc:
                                    "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Dashboard/Toys120X._SY85_CB468851693_.jpg",
                                name: "toys & games"
                            },
                        ]
                    },
                    {
                        type: 'multi',
                        name: 'shop deals in fashion',
                        subCards: [
                            {
                                srchQuery: 'jeans',
                                imgSrc: './public/images/fashion-card-jeans.webp',
                                name: 'jeans under $50'
                            },
                            {
                                srchQuery: 'tops',
                                imgSrc: './public/images/fashion-card-tops.webp',
                                name: 'tops under $50'
                            },
                            {
                                srchQuery: 'shoes',
                                imgSrc: './public/images/fashion-card-shoes.webp',
                                name: 'shoes under $50'
                            },
                            {
                                srchQuery: 'shoes',
                                imgSrc: './public/images/fashion-card-shoes.webp',
                                name: 'shoes under $50'
                            }
                        ]
                    },
                    {
                        type:'multi',
                        name: 'refresh your space',
                        subCards: [
                            {
                                srchQuery: 'dinnerware and accessories',
                                imgSrc:'./public/images/refresh-card-dining.webp',
                                name:'dining'
                            },
                            {
                                srchQuery:'home',
                                imgSrc:'./public/images/home.jpg',
                                name: 'home'
                            },
                            {
                                srchQuery:'kitchen',
                                imgSrc:'./public/images/kitchen.jpg',
                                name: 'kitchen'
                            },
                            {
                                srchQuery:'health and beauty',
                                imgSrc:'./public/images/beauty.jpg',
                                name: 'health and beauty'
                            }
                        ]
                    },
                    {
                        type: "single",
                        srchQuery: "computers",
                        name: "computers & accessories",
                        imgsrc:
                            "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_PC_1x._SY304_CB431800965_.jpg"
                    },
                    {
                        type: "single",
                        srchQuery: "amazonbasics",
                        name: "amazon basics",
                        imgsrc:
                            "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/July/amazonbasics_520x520._SY304_CB442725065_.jpg"
                    },
                    {
                        type: "single-card",
                        link: "top-searchCategories",
                        title: "shop top searchCategories",
                        imgsrc:
                            "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/Fuji_Dash_PD_Nonprime__1x._SY304_CB403084762_.jpg"
                    },
                    {
                        type: "single-card",
                        link: "beauty",
                        title: "beauty picks",
                        imgsrc:
                            "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Beauty_1x._SY304_CB432774351_.jpg"
                    },
                    {
                        type: "single-card",
                        link: "tv",
                        title: "find your tv",
                        imgsrc:
                            "https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_TV_2X._SY304_CB432517900_.jpg"
                    },
                    {
                        type: "single-card",
                        link: "sport",
                        title: "git fit at home",
                        imgsrc:
                            "https://images.pexels.com/photos/4397831/pexels-photo-4397831.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                    }
                ]
            }
        ]